@model exam1.Models.Files

@{
    ViewData["Title"] = "Детали";
}

<h1>Детали</h1>

<div>
    <h4>Файлы</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FIleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FIleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UploadedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UploadedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DownloadedCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DownloadedCount)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Download", "Download", new { slug = Model.Slug }) |
    <a asp-action="Index">ОЬратно к списку</a>
</div>